header {
    display: flex;
    align-items: center;
    background-color: #fff3a8;
}

h1 {
    font-size: 250%;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color:#d96207;
}

h2 {
    font-size: 200%;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: #d96207;
}

nav ul {
    display: flex;
    width: max-content;
    justify-content: space-evenly;
    padding: 5%;
}

nav a {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    width: 100px;
    color: #d96207;
    font-weight: bold;
    font-family:'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

nav a:hover {
    color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #fff3a8;
}

.aboutme {
    display: flex;
    flex-direction: column;
    color: #d96207;
    font-weight: bold;
}

#portrait {
    width: 200px;
    height: auto;
}

.mywork {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    padding: 3%;
}

.mywork a {
    color: #d96207;
    font-weight: bold;
    font-family:'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.workpic {
    width: 400px;
    height: auto;
}

.workpic:hover{
    width: 450px;
    height: auto;
}

.contactme {
    display: flex;
}

footer {
    bottom: 0;
    color: #d96207;
    font-weight: bold;
    font-family:'Gill Sans MT', 'Trebuchet MS', 
}